<h1>The Homepage of nowhere</h1>
<a href="{% url 'posts:create' %}">new post</a>

<br>
<br>

{% for post in posts.all %}

<form method="POST" action="{% url 'posts:upvote' post.id %}">
  {% csrf_token %}
  <input type="submit" value="UP">
</form> {{ post.votes_total }}  - <a href="{{ post.url }}" target="_blank">{{ post.title }}</a>
<br>
{{ post.pub_date }} by {{ post.author.username }}
<br>
<form method="POST" action="{% url 'posts:downvote' post.id %}">
  {% csrf_token %}
  <input type="submit" value="DOWN">
</form>

{% endfor %}
