{% extends 'base.html' %}
{% block content %}

<h1>{{ author.username }}'s posts</h1>
<br>

{% for post in posts.all %}

<table>
	<tr>
		<td>
			<a href="#" onClick="document.getElementById('upvote{{ post.id }}').submit()">
				<span class="glyphicon glyphicon-arrow-up" aria-hidden="true" style="padding-right: 20px; color: red;"></span>
			</a>
			<br><strong style="padding-left: 3px;">{{ post.votes_total }}</strong><br>
			<a href="#" onClick="document.getElementById('downvote{{ post.id }}').submit()">
			<span class="glyphicon glyphicon-arrow-down" aria-hidden="true" style="color: blue;"></span>
			</a>
		</td>
		<td>
			<a href="{{ post.url }}" target="_blank">{{ post.title }}</a>
			<br>{{ post.pub_date_pretty }} by <a href="{% url 'posts:userposts' post.author.id %}">{{ post.author.username }}</a>			
		</td>
	</tr>	
	<br>
</table>

<form id="upvote{{ post.id }}" method="POST" action="{% url 'posts:upvote' post.id %}">
{% csrf_token %}
	<input type="hidden"> 
</form>

<form id="downvote{{ post.id }}" method="POST" action="{% url 'posts:downvote' post.id %}">
  {% csrf_token %}
  <input type="hidden">
</form>

{% endfor %}
{% endblock %}